h1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;

}
h2 {
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3 {
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p {
color: #4D4D4D;
}
p.a {
    font-weight: bold;
    color: bisque
    
}
a {
    color: #9636f0;
    text-decoration-line: none;
}
.header{

   background-image:url(./img/header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 34px; padding-bottom:505px;
   width:100%; height:33%;
}

img {
    width: 55%;
}
article{
    border-radius: 14px;
    padding: 6px;
    border-left-width:11px ;
    border: 4px solid rgb(139, 4, 4);
}
